Repository rherwig/tekken-space: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.json": [
        "prettier --write"
    ],
    "*.scss": [
        "prettier --write"
    ]
}

fix(bot): include moves json files into image
  .husky/pre-commit
  .lintstagedrc
  apps/bot/Dockerfile
  apps/bot/src/resources/index.ts
  apps/bot/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(web): implement characters meta display
  apps/web/Dockerfile
  apps/web/app/characters/[id]/@moves/components/character-moves-filter.tsx
  apps/web/app/characters/[id]/components/characters-header.tsx
  apps/web/app/characters/[id]/components/characters-meta-list-item.tsx
  apps/web/app/characters/[id]/components/characters-meta-list.tsx
  apps/web/app/characters/[id]/page.tsx
  packages/types/src/characters-meta.ts
  packages/types/src/index.ts
  packages/ui/package.json
  packages/ui/src/components/archetype-chip/archetype-chip.stories.tsx
  packages/ui/src/components/archetype-chip/archetype-chip.tsx
  packages/ui/src/components/chip/chip.module.scss
  packages/ui/src/components/chip/chip.stories.tsx
  packages/ui/src/components/chip/chip.tsx
  packages/ui/src/components/difficulty-chip/difficulty-chip.stories.tsx
  packages/ui/src/components/difficulty-chip/difficulty-chip.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/utils/text.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(ui): upgrade tailwind to 4.0
  apps/web/app/layout.tsx
  apps/web/package.json
  apps/web/postcss.config.cjs
  apps/web/tailwind.config.ts
  configurations/tailwind/eslint.config.js
  configurations/tailwind/package.json
  configurations/tailwind/tailwind.config.ts
  configurations/tailwind/tsconfig.json
  packages/ui/.storybook/main.ts
  packages/ui/package.json
  packages/ui/postcss.config.cjs
  packages/ui/src/components/notation/instruction/attack/attack-instruction.module.scss
  packages/ui/src/components/notation/instruction/attack/attack-instruction.stories.tsx
  packages/ui/src/components/notation/instruction/attack/attack-instruction.tsx
  packages/ui/src/components/notation/instruction/movement/directional/directional-input.module.scss
  packages/ui/src/components/notation/instruction/movement/directional/directional-input.stories.tsx
  packages/ui/src/components/notation/instruction/movement/directional/directional-input.tsx
  packages/ui/src/docs/colors.mdx
  packages/ui/src/fixtures/instruction.ts
  packages/ui/src/styles.css
  packages/ui/tailwind.config.ts
  packages/ui/tsconfig.json
  packages/ui/tsconfig.node.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
  tools/scraper/src/wavu/main.ts
  tools/scraper/src/wavu/types.ts
Due: eslint --fix, prettier --write

chore(ui): add storybook deployment
  .docker/proxy/Caddyfile
  .github/workflows/docker-publish-storybook.yml
  .gitignore
  docker-compose.production.yaml
  docker-compose.yaml
  packages/ui/.docker/Caddyfile
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/templates/documentation.mdx
  packages/ui/Dockerfile
  packages/ui/package.json
  packages/ui/src/base/button.stories.tsx
  packages/ui/src/base/button.tsx
  packages/ui/src/base/input.stories.tsx
  packages/ui/src/env.d.ts
  packages/ui/tsconfig.json
  packages/ui/tsconfig.storybook.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(ui): make button props optional
  docker-compose.production.yaml
  packages/ui/src/base/button.tsx
Due: eslint --fix, prettier --write

fix(web): correct casing in dockerfile
  apps/web/Dockerfile
Due: none

fix(ui): correct typing for attack instruction
  packages/ui/package.json
  packages/ui/src/components/notation/instruction/attack/attack-instruction.tsx
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

fix(bot): add correct move data files
  apps/bot/src/resources/moves/alisa.json
  apps/bot/src/resources/moves/anna.json
  apps/bot/src/resources/moves/asuka.json
  apps/bot/src/resources/moves/azucena.json
  apps/bot/src/resources/moves/bryan.json
  apps/bot/src/resources/moves/claudio.json
  apps/bot/src/resources/moves/clive.json
  apps/bot/src/resources/moves/deviljin.json
  apps/bot/src/resources/moves/dragunov.json
  apps/bot/src/resources/moves/eddy.json
  apps/bot/src/resources/moves/feng.json
  apps/bot/src/resources/moves/heihachi.json
  apps/bot/src/resources/moves/hwoarang.json
  apps/bot/src/resources/moves/jack.json
  apps/bot/src/resources/moves/jin.json
  apps/bot/src/resources/moves/jun.json
  apps/bot/src/resources/moves/kazuya.json
  apps/bot/src/resources/moves/king.json
  apps/bot/src/resources/moves/kuma.json
  apps/bot/src/resources/moves/lars.json
  apps/bot/src/resources/moves/law.json
  apps/bot/src/resources/moves/lee.json
  apps/bot/src/resources/moves/leo.json
  apps/bot/src/resources/moves/leroy.json
  apps/bot/src/resources/moves/lidia.json
  apps/bot/src/resources/moves/lili.json
  apps/bot/src/resources/moves/nina.json
  apps/bot/src/resources/moves/panda.json
  apps/bot/src/resources/moves/paul.json
  apps/bot/src/resources/moves/raven.json
  apps/bot/src/resources/moves/reina.json
  apps/bot/src/resources/moves/shaheen.json
  apps/bot/src/resources/moves/steve.json
  apps/bot/src/resources/moves/victor.json
  apps/bot/src/resources/moves/xiaoyu.json
  apps/bot/src/resources/moves/yoshimitsu.json
  apps/bot/src/resources/moves/zafina.json
Due: prettier --write

feat(bot): add name search
  apps/bot/src/commands/move.ts
  packages/types/src/scraper/moves.ts
  tools/scraper/src/core/harmonizer.ts
  tools/scraper/src/core/linker.ts
  tools/scraper/src/core/overrider.ts
  tools/scraper/src/types.ts
Due: eslint --fix, prettier --write
